.book-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    white-space: nowrap;
    padding: 10px;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 20px 20px 20px -6px rgb(0, 0, 0, 0.2)
}

.book-card img {
    width: 200px;
    height: 300px;
    margin: 5px;
    border-radius: 5px;
}

.book-card-div-one {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.book-card-div-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.book-card-div-b {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-card button {
    width: 200px;
    margin: 5px;
    cursor: pointer;
    background-color: #56c883;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.book-card button:hover {
    background: rgb(246,130,8);
}
