.book-card {
    display: flex;
    box-sizing: content-box;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    background-color: rgb(254, 246, 229);
}

.book-card img {
    display: inline-block;
    width: 150px;
    height: 250px;
    margin: 5px;
}
