.book-card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.book-card {
    max-width: 800px;
    width: 360px;
    margin: 5px auto;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.book-card img {
    width: 100%;
    max-width: 150px;
    max-height: 250px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

.book-card-details {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.book-card-details h4, h5 {
    margin-bottom: 10px;
    font-family: Arial, Tahoma, serif;
    text-align: center;
}

.book-card-details p {
    margin-bottom: 10px;
    font-family: Arial, Tahoma, serif;
}

.book-card-details button {
    display: inline-block;
    width: 150px;
    margin: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: #56c883;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.book-card button:hover {
    background: rgb(246, 130, 8);
}

.book-card p {
    text-align: justify;
    font-family: Arial, Tahoma, serif;
}