.add-book-bg {
    height: 100vh;
}

.add-book {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px;
    margin: 15px;
    font-family: Arial, sans-serif;
    font-size: 17px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 20px 20px 40px -6px rgb(0, 0, 0, 0.5)
}

.h1-add-book {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.h1-add-book span {
    color: #ff7800;
}

.add-book input, textarea, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    border: 1px solid #56c883;
    border-radius: 5px;
    outline: none;
    background: transparent;
}

.add-book button {
    width: 350px;
    background-color: #56c883;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}