.book-gallery {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border-radius: 3px;
    gap: 20px;
}
.h1-book-gallery {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}

.h1-book-gallery span {
    color: #ff7800;
}

.book-gallery div {
    border-radius: 3px;
    padding: 15px;
}

.book-gallery-input {
    margin: 10px 25px;
    padding: 13px;
    width: 370px;
    border: 2px solid #56c883;
    border-radius: 5px;
}

.book-gallery-select {
    margin: 10px 25px;
    padding: 10px;
    width: 370px;
    border: 2px solid #56c883;
}

.pagination {
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 15px;
}

.pagination button {
    width: 100px;
    margin: 5px;
    cursor: pointer;
    background-color: #56c883;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.pagination button:hover {
    background: rgb(246, 130, 8);
}

.book-gallery-span {
    display: flex;
    justify-content: center;
}