.App {
  min-height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
}

.App > *:not(header, footer) {
  flex-grow: 1;
}